* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff2") format("woff2");
}
html {
  font-family: "Roboto", sans-serif;
  color: #333333;
}
.container {
  //   max-width: 1100px;
  //   margin: 30px auto;
}
.menu-types {
  display: flex;
  //   border: 1px solid #ccc;
  .menu-number {
    margin-right: 10px;
  }
  .wrap-left {
    width: 60%;
  }
  .wrap-right {
    width: 40%;
    padding-left: 40px;
  }
  .menu-item {
    width: 100%;
    // border-right: 1px solid #ccc;
    margin-bottom: 24px;
  }
  .add-wrap {
    padding: 12px;
  }
  .menu-header {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    // border-bottom: 1px solid #ccc;
    // background-color: #2db362;
    // color: #fff;
    border-radius: 12px;
    border: 2px solid #2db362;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .menus-body {
    // padding: 10px;
  }

  .one-menu-item {
    display: flex;
    padding: 4px 16px 8px 16px;
    // margin-bottom: 8px;
    &:last-child {
      .menu-right {
        border-bottom: none;
      }
    }
  }

  .products-wrap {
    padding-bottom: 8px;
  }
  .products-wrap_bb {
    border-bottom: 1px solid #eee;
  }

  .menu-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
  }

  .menu-right {
    width: calc(100% - 22px);
    border-bottom: 1px solid #ccc;
  }

  .product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }
  .all-calory {
    color: #2db362;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  background-color: #fff;
  &-left {
    .logo {
      display: flex;
      align-items: center;
      img {
        width: 70px;
      }

      .logo-title {
        font-size: 56px;
        font-weight: 600;
      }
    }
  }
  &-right {
    .user-name {
      font-size: 22px;
      text-align: right;
      margin-bottom: 8px;
      font-weight: 600;
      span {
        font-weight: 600;
        color: #2db362;
      }
    }

    .daily-calory {
      font-size: 18px;

      text-align: right;
    }
  }
}

.red-text {
  color: #d62b22;
}
.wrap-right {
  .warning-title {
    display: flex;
    align-items: center;
    color: #ff7a00;
    font-size: 20px;
    img {
      margin-right: 10px;
      width: 24px;
    }
  }

  .warning-wrap {
    padding: 16px;
    border-radius: 10px;
    background-color: #ffeed0;
    .warning-body {
      padding-left: 32px;
      margin-top: 16px;
      ul {
        li {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.premium-box {
  padding: 20px;
  background-color: #e3ffee;
  border-radius: 12px;
  // margin: 0px 16px;
  .lock-icon {
    display: flex;
    justify-content: center;
    svg {
      width: 50px;
      height: 50px;
      path {
        fill: #2db362;
      }
    }
  }
  .premium-text {
    margin-top: 20px;
    text-align: center;
  }
}
.lunch-box {
  padding: 12px 16px;
  background-color: #ffeed0;
  border-radius: 12px;
  .lunch-text-1 {
    margin-bottom: 10px;
  }
}
.perekus {
  margin-top: 32px;
}
